* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body{
    background: #D2DBE2;
}
header {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.logo img {
    width: 70px;
}

nav {
    margin-left: 10px;
}

nav a {
    text-decoration: none;    
    font-size: 13px;
    color: black;
    padding: 14px;
}